* {
  font-family: sans-serif;
}

.grid {
  display: grid;
  grid-template-columns: 70% 30%;
}

.track {
  display: flex;
}

.square {
  height: 50px;
  width: 50px;
  background-color: white;
  border: 1px solid black;
  margin-bottom: 5px;
}

.square.selected-square {
  background-color: cadetblue !important;
}

.square + .square { 
  margin-left: 5px; 
}

button {
  margin-bottom: 5px;
  margin-right: 5px;
  
}

input {
  margin-right: 5px;
}

.event-editor-input {
  width: 60px;
}
