.container {
  display: flex;
}

.item {
  height: 70px;
  width: 70px;
  background-color: white;
  border: 1px solid black;
}

.item.selected-item {
  background-color: cadetblue !important;
}

.item + .item { 
  margin-left: 5px; 
}

button {
  margin-bottom: 5px;
  margin-right: 5px;
}